<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <property name="appName" value="carbon-tracker"/>
    <property name="LOG_HOME" value="/appvol/apps/${appName}/log"/>
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%level][%thread][%class{0}:%line] %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="pattern" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_HOME}/${appName}-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>300MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <layout name="pattern" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <root level="info">
        <springProfile name="data">
            <appender-ref ref="stdout"/>
        </springProfile>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>
